@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
    background-color: #24273a;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #f3f4f5;
    font-size: 1.6rem;
}
.header a{
    margin-left: 20px;
    margin-right: 20px;
    color:  #f3f4f5;
    text-decoration: none;
}
.header a:hover{
    color: #c2c3c4;
}

.title {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #f3f4f5;
    margin: 0em 0em .35em 0em;
    text-align: center;
}
.weather-container {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color:  #f3f4f5;
    margin: 0em 0em .35em 0em;
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 1em 0em;
}
.bookmark-set{
    padding: 1em;
    background-color: #191b29;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: 1rem;
    width: 25%;
    height: 16em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    overflow-y: scroll;
    height: 80%;
    vertical-align: top;
}
.bookmark {
    text-decoration: none;
    color:  #c2c3c4;
    display:block;
    margin: .4em 0em;
}
.bookmark:hover {
    color:  #f3f4f5;
}

.footer a {
  text-decoration: none;
  color: #c2c3c4;
  display: block;
}
.footer a:hover {
  color: #f3f4f5;
}

#clock {
    font-size: 4.0rem;
    font-family: "Anton";
    color:  #f3f4f5;
}

#search {
    width: 100%;
    height: 100%;
    background-color: #24273a;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    background-color: #24273a;
    border: solid 0px #24273a;
    font-family: "Roboto Mono";
    font-size: 4rem;
    color:  #f3f4f5;
    outline: none;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}
